body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  overflow: hidden;
}

#surface { 
	border: solid black 1px;
	width: 800px;
	height: 600px;
}

p {
  padding: 5px;
  margin: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.mode {
  cursor: pointer;
  color: #fff;
  width: 780px;
  padding: 5px;
  margin: 5px;
  background: rgba(0,0,0,0);
  border: 2px solid black;
  box-shadow: 0 0 0 4px #333333, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}